<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="<%- title %> | CSE 340 App" >
    <title><%= title %> | CSE 340 App"</title>
    <link rel="stylesheet" href="/css/styles.css">
    <% if (typeof customCSS !== 'undefined' && customCSS) { %>
        <link rel="stylesheet" href="<%= customCSS %>">
    <% } %>
    <% if (typeof itemCSS !== 'undefined' && itemCSS) { %>
        <link rel="stylesheet" href="<%= itemCSS %>">
    <% } %>
    <% if (typeof logInCSS !== 'undefined' && logInCSS) { %>
        <link rel="stylesheet" href="<%= logInCSS %>">
    <% } %>
    <% if (typeof registrationCSS !== 'undefined' && registrationCSS) { %>
        <link rel="stylesheet" href="<%= registrationCSS %>">
    <% } %>
    <% if (typeof addItemsCSS !== 'undefined' && addItemsCSS) { %>
        <link rel="stylesheet" href="<%= addItemsCSS %>">
    <% } %>
    <script src="/js/script.js" defer></script>
</head>